/* html {
    font-size: 45px;
} */

.container {
    /* font-size: 40px; */
    font-size: 40px;
}

.box {
    /* font-size: 15px; */
    /* font-size: 3em; */
    /* font-size: 3rem; */
    background-color: rebeccapurple;
}

.box2 {
    background-color: aqua;
    width: 20vw;
    height: 20vh;
}

.containers {
    width: 344px;
    height: 45vh;
    background-color: red;
    /* sets minimum height */
    min-height: 50vh;
    max-height: 100vh;
    /* sets minimum width */
    min-width: 50vh;
    max-width: 100vh;
}